.body
{
  position: absolute;
  background-color: #EEF0F1;
  height:180vh;
  margin-top: -110vh;
  z-index: -9999;
  width:100%;
}
.heading
{
  margin-left:52vh;
  font-size: 7vh;
}
.name{
  font-size: 8vh;
  font-size: 40px;
  margin-left: 82vh;
}
.blogtitle
{
  margin-top: 10vh;
  width: 12vh;
}
.paragraph
{
  margin-left: 55vh;
  font-family: sans-serif;
}
.title
{
  margin-left: 38vh;
  margin-top: 1vh;
  font-size: large6vh ;
  width: auto;
}
.desc{
  font-size: 2.5vh;
  margin-left: 38vh;
}
.titlecontainer
{
  height: 15vh;
  border-radius: 9px;
  margin-top: 5vh;
  margin-left: 35vh;
  width: 100vh;
  cursor: pointer;

}
